body {
	background: #f5f5f5;
	font-family: sans-serif;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: fixed;
	bottom: 0;
	background-image: url('../images/librarybackground.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	backdrop-filter: blur(10px);
}

.container {
	border: 1px solid black;
	height: 510px;
	width: 370px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	box-shadow: 5px 5px 5px black;
}

h1 {
	color: #FF0000;
	text-align: center;
	font-weight: 900;
	font-size: 35px;
	text-shadow: 2px 1px black;
	margin-bottom: 5px;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.input-control {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin: 10px 0px;
	font-size: 20px;
}

input {
	height: 38px;
	width: 280px;
	border-radius: 5px;
	outline: none;
	background: transparent;
	font-size: 20px;
	padding-left: 5px;
	border: 1px solid black;
	margin: 5px 0px;
	cursor: text;
	text-transform: capitalize;
}

input:focus {
	border: 1px solid #0E46A3;
	box-shadow: 3px 3px 3px #10439F;
}

label {
	color: #0C0C0C;
}

#btn {
	background: #5356FF;
	outline: none;
	border: none;
	cursor: pointer;
	color: #F7F9F2;
	font-weight: 600;
	text-shadow: 2px 2px black;
	transition: all 0.2s;
	position: relative;
	top: 5px;
}

#btn:hover {
	background: #5755FE;
}

#back {
	height: 35px;
	font-size: 15px;
	width: 100px;
	outline: none;
	background: #000;
	color: #fff;
	font-weight: bold;
	position: relative;
	bottom: 55px;
	left: 685px;
}